@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    list-style: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 118px;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
}

.logo{
    width: 212px;
    height: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

.logo p{
    font-weight: 700;
    font-size: 18px;
    transition: 0.5s;
}

.logo p:hover::after{
    content: " ⚽";
    transition: 0.5s;
}

.logo p span{
    color: #37268C;
}

.header_links a{
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    color: #242424;
    border-bottom: solid 1px transparent;
}

.header_links a:hover{
    border-image-slice: 1;
    border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
    border-width: 3px;
}

.header_links a strong{
    color: #292929;
}

.container{
    display: flex;
    justify-content: center;
}

.secaoProdutos{
    width: 970px;
}

.secaoProdutos ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.secaoProdutos ul li{
    max-width: 296px;
    margin: 0px 10px 0px 10px;
    margin-bottom: 50px;
}

.secaoProdutos ul li:hover{
    opacity: 0.8;
}

.image_product{
    max-width: 296px;
    height: 154px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.image_product img{
    max-width: 190px;
    max-height: 140px;
}

.content_product{
    background-color: #F5F5F5;
    max-width: 296px;
    max-height: 254px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tag {
    display: inline-flex;
    justify-content: center;
    background-color: #2E245E;
    color: #FFFFFF;
    max-width: 60px;
    font-weight: 400;
    font-size: 12px;
}

.content_product h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background-color: #F5F5F5;
}

.content_product p{
    color: #242424;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background-color: #F5F5F5;
}

.preco{
    color: #2E245E;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background-color: #F5F5F5;
}

.content_product button{
    background-color: #F5F5F5;
    color: #242424;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    justify-content: baseline;
    border: 1px solid transparent;
    cursor: pointer;
}

.content_product button:hover{
    background-color: #0d0041;
    color: #FFFFFF;
    border-radius: 10px;
    max-width: 150px;
}

.carrinho{
    margin-left: 45px;
    width: 350px;
}

form{
    display: inline-flex;
    gap: 8px;
    margin-bottom: 30px;
}

form input{
    padding-left: 14px;
    width: 246px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    color: #242424;
    background-color: #F5F5F5;
    border: none;
}

form  input:focus {
    outline: 0;
}

form button{
    background-color: #37268C;
    width: 96px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #b16ec4;
}

.titulo_carrinho {
    width: 347px;
    height: 50px;
    background-color: #37268C;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.carrinho .carrinho_info ul{
    max-width: 345px;
    height: 329px;
    overflow-y: scroll;
}

.carrinho .carrinho_info ul li{
    margin-top: 28px;
    display: flex;
    max-width: 284px;
    margin-bottom: 30px;
    gap: 18px;
}

.carrinho_info ul li button{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 142px;
}

.carrinho_info ul li button:hover{
    background-color: red;
    border-radius: 15px;
}

.carrinho_info ul li .image_product{
    max-height: 92px;
    max-width: 88px;
    display: flex;
    align-items: center;
}

.carrinho_info ul li .image_product img{
    max-height: 67px;
    max-width: 88px;
}

.carrinho_info ul li .content_product{
    gap: 14px;
    max-width: 176px;
    padding-left: 16px;
    padding-right: 10px;
}

.carrinho_info ul li h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.carrinho_info ul li .content_product .preco{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2E245E;;
}

.detalhes_carrinho p{
    color: #FFFFFF;
    background-color: #292929;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.carrinho .detalhes_carrinho ul{
    display: flex;
    flex-direction: column;
    max-width: 345px;
    max-height: 126px;
}

.carrinho .detalhes_carrinho ul li{
    padding: 0px 5px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: #292929;
}

.detalhes_carrinho button{
    color: #242424;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    justify-content: baseline;
    border: 1px solid transparent;
    cursor: pointer;
}

#carrinhoVazio{
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #292929;
    margin: 82px 0px 10px 95px;
}

#AdicioneItens{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
    margin-left: 121px;
}